In [5]:
import numpy as np
import pandas as pd

In [6]:
def groupByOfficerNumber():
    # Process data of police numbers
    # Data from: https://www.scotland.police.uk/about-us/police-scotland/police-scotland-officer-numbers/

    officer_dict = {'A': 1115,
                    'C': 626,
                    'D': 919,
                    'E': 1099,
                    'G': 2434,
                    'J': 902,
                    'K': 613,
                    'L': 553,
                    'N': 661,
                    'P': 759,
                    'Q': 1388,
                    'U': 818,
                    'V': 382
    }

    div_officer_data = pd.DataFrame(officer_dict.items(), columns=['Division Letter', 'Officer Numbers'])

    return div_officer_data

groupByOfficerNumber().head(15)

   Division Letter  Officer Numbers
0                A             1115
1                C              626
2                D              919
3                E             1099
4                G             2434
5                J              902
6                K              613
7                L              553
8                N              661
9                P              759
10               Q             1388
11               U              818
12               V              382